/** Contains the overall variables in terms of themes of color scheme and design */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Quattrocento:wght@400;700&family=Fanwood+Text:wght@400;700&display=swap");

:root {
  /* Colors */
  --color-text: #f2f3f4;
  --color-primary: #626353;
  --color-secondary: #1d282e;
  --color-dark: #272727;
  --color-bg: #4a4b4c;

  /* Fonts */
  --font-roboto: "Roboto";
  --font-quattrocento: "Quattrocento";
  --font-fanwood: "Fanwood Text";
}
