@import "../../vars.css";

.container {
  position: relative;
  background-color: var(--color-bg);
  border-radius: 5px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-family: var(--font-quattrocento);
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 30px;
  text-align: right;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.experienceItems {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.experienceItem {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: var(--color-bg);
  padding: 25px;
}

.experienceItemText {
  flex: 1;
}

.experienceImage {
  width: 150px;
  height: auto;
  margin-left: 40px;
}
.experienceItem:hover h3 {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
    0 0 15px rgba(255, 255, 255, 0.4);
}
.experienceItemText h3 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: var(--font-quattrocento);
  color: var(--color-text);
  margin-bottom: 15px;
  transition: text-shadow 0.4s ease-in-out;
}

.bulletPoints {
  list-style: disc;
  margin-left: 20px;
  color: var(--color-text);
  font-family: var(--font-space);
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.8;
  font-weight: 300;
}

.bulletPoints li {
  margin-bottom: 10px;
}

@media screen and (max-width: 830px) {
  .bulletPoints {
    font-size: 16px;
  }
}
