@import "../../vars.css";

/* Modal Styles */
.modal {
  display: relative;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark);
  overflow: auto;
}

.modalcontent {
  background-color: var(--color-bg);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid var(--color-bg);
  width: 80%;
  border-radius: 5px;
}

.close {
  color: var(--color-text);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: var(--color-primary);
}

.downloadbtn {
  display: inline-block;
  background-color: var(--color-dark);
  color: var(--color-text);
  padding: 10px 20px;
  text-decoration: none;
  font-family: var(--font-fanwood);
  border-radius: 5px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 0.5px;
  box-shadow: 0 0 4px 0 rgba(39, 39, 39, 0.25);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.downloadbtn:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4);
}
