@import "../../vars.css";

.container {
  position: relative;
  background-color: var(--color-dark);
  border-radius: 5px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-family: var(--font-quattrocento);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  width: 35%;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItems li img {
  padding: 5px 15px;
}

.aboutItem {
  display: flex;
  font-family: var(--font-fanwood);
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: box-shadow 0.4s ease;
}

.aboutItem:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4);
}

.aboutItem h3 {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--font-quattrocento);
}

.aboutItem p {
  font-size: 20px;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}
